@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@{

  }  ViewData["Title"] = "Admin Dashboard";
<h2>@ViewData["Title"]</h2>
<p>Welcome, @User.Identity.Name! You're in the Admin area.</p>
<p><a asp-controller="Account" asp-action="Logout">Log out</a></p>

}
